#content{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/unnamed.jpg);
    background-size: 50%;
    height: 450px;
    background-repeat: no-repeat;
}

.formindex{
    margin-left: 550px;
    margin-top: 50px;
}


.buttonindex{
    width: 100px;
    height: 50px;
    margin-left: 50px;
    color: var(--texte-noir);
    background-color: lightgray;
    border: none;
}

.register{
    margin-left: 550px;
    padding-right: 100px;
}

h1.titreindex{
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}