#content{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/unnamed.jpg);
    background-size: 50%;
    height: 450px;
    background-repeat: no-repeat;
}

.formregister{
    margin-left: 550px;
    margin-top: 100px;
    padding: 10px;
}

.testname{
    width: 200px;
    height: 50px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.prenom1{
    width: 200px;
    height: 50px;
    margin-right: 10px;
}

.email{
    width: 200px;
    height: 50px;
}

.mdp{
    width: 200px;
    height: 50px;
    margin-right: 10px;
}

.date{
    width: 200px;
    height: 50px;
    margin-right: 10px;
}

.tel{
    width: 200px;
    height: 50px;
}

.buttonindex1{
    width: 100px;
    height: 50px;
    margin-top: 50px;
    color: var(--texte-noir);
    background-color: lightgray;
    border: none;
}

.titreregister{
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}